<!-- JS -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/41.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>
  <script>
    $(document).ready(function () {
      function isMobile() {
        return window.innerWidth < 992;
      }

      // Sidebar Toggle
      $('#toggleSidebar').on('click', function () {
        if (isMobile()) {
          $('#sidebar').toggleClass('show');
          $('#sidebarOverlay').toggleClass('show');
        } else {
          $('#sidebar').toggleClass('sidebar-collapsed');
          $('#mainContent').toggleClass('main-content-collapsed');
        }
      });

      // Overlay Click hides sidebar (mobile only)
      $('#sidebarOverlay').on('click', function () {
        $('#sidebar').removeClass('show');
        $(this).removeClass('show');
      });

      // Submenu Toggle
      $('.submenu-toggle').on('click', function () {
        $(this).next('.submenu').toggleClass('show');
        $(this).find('.toggle-icon').toggleClass('rotate');
      });

      // Initialize Bootstrap dropdown
      var userDropdown = new bootstrap.Dropdown(document.getElementById('userDropdown'));
    });
   
  </script>
</body>
</html>