<%-include("navbar.ejs")%>
<form action="/admin/parts_inventory" method="POST" enctype="multipart/form-data">
  <div class="container py-5">
    <h2 class="text-center mb-4"> Vehicle Parts</h2>
    <div class="row g-4">
      <div class="col-md-6">
        <label for="title" class="form-label">Body Parts</label>
        <input type="text" name="title" class="form-control" required>
      </div>
     
      
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Add Parts</button>
    </div>
  </div>
</form> 
<%-include("footer.ejs")%>