<%-include('navbar.ejs')%>

<!-- Dashboard Content -->
<div class="container-fluid">
  <h4 class="mb-4 m-3 h2">Dashboard Overview</h4>
  <div class="row">
    <div class="col-md-6 col-lg-3 ">
      <div class="card stat-card m-2">
        <div class="card-body">
          <div class="icon-container text-center"><i class="fas fa-receipt"></i></div>
          <h6 class="text-muted text-center mb-1 fw-bold">Table 1</h6>
          <small class="text-success text-center d-block mt-3"><a href="#"><button class="btn btn-outline-dark ">order</button></a></small>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Admin Panel Dashboard Design -->


<%-include('footer.ejs')%>