<h1>Welcome</h1>

<style>
    .headinh{
    background: linear-gradient(45deg, #685099 0%, #595591 60%, #4E5A8B 60%, #37627C 62%, #ffad26 62%, 63%, #d77045 63%, #d77045 64%, #ffad26 64%, #ffad26 65%, #525187 65%, white 80%);
    border-left: 5px solid #FFC241;
    color: white;
    font-weight: bold;
    padding: 6px 10px 3px 10px;}

    .text-uppercase {
    text-transform: uppercase !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
</style>